/*
*	Cristobal Avila
*
*/
body {
    background: #fafafa;
}
.container {
	margin: 0 auto;
	max-width: 95%;
}
.content-block {
	clear: both;
	padding-top: 10px;
}
.content-block h2 {
	width: 100%;
	text-align: center;
	border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
}
/* ==========================================================================
   Section 1
   ========================================================================== */
.col-container {
	width: 100%;
	clear: both;
}
div.col-container div {
	width: 30%;
	padding: 0.2% 1% 0.2% 1%;
	float: left;
	border-right: 1px solid #000;
}
.col-container .last-col {
	border-right: none;
}
/* ==========================================================================
   Section 2
   ========================================================================== */
.ad-box {
	width: 300px;
	height: 250px;
	background-image: url(../images/ad.jpg);
}
.ad-detail {
	width: 58px;
	height: 58px;
	background-image: url(../images/blue-circle.png);
	margin: 0;
	position: relative;
}
div.ad-detail p{
	font-size: 1.2em;
	padding: 16px;
}
div.ad-left{
	float: left;
}
div.ad-right{
	float: right;
}
div.ad-left .ad-detail {
	top: -32px;
	left: 270px;
}
div.ad-right .ad-detail {
	top: -32px;
	left: -27px;
}

#investment-section {
	text-align: center;
}
/* ==========================================================================
   Section 3
   ========================================================================== */

.investment-checkboxes {
	padding-left: 25%;
}
.investment-checkboxes input[type=checkbox] {

}
.checkbox-wrapper {
	max-width: 20%;
	float: left;
	padding: 10px;
}
.label-wrapper {
	max-width: 40%;
	float: left;
	padding: 10px;
}
.invest-msg-box {
	max-width: 20%;
	float: left;
	padding: 10px;
}